<div class="container">
    <h4 class="mt-5">Bem vindo a Compugraf</h4>
    <div class="row mt-5">
        <div class="card bg-light" style="width: 18rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdgaf5yIyuhsrSmYnWYQnnz7E6OCIBSfmOng&usqp=CAU" class="card-img-top mt-3" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gestão de Pessoas</h5>
              <p class="card-text">Módulo para gestão de pessoas.</p>
              <div  class="d-grid gap-2">
                <button routerLink="pessoa" class="btn btn-primary btn-auto" type="button">Acesse</button>
              </div>
            </div>
          </div>
    </div>
</div>